:host {
  align-items: center;
  display: flex;
  justify-content: center;

  .mat-card {
    width: 90%;
    max-width: 600px;
  }

  .mat-card-title {
    line-height: 2em;
  }

  .mat-form-field {
    width: 50%;
    padding: 0 10px;

    &:last-child {
      width: 100%;
    }
  }

  .mat-card-actions {
    text-align: right;
  }

  textarea {
    height: 75px;
    line-height: 1.4em;
  }
}
