<mat-card color="primary">
  <mat-card-header>
    <mat-card-title>{{ (wording$ | async)?.title }}</mat-card-title>
  </mat-card-header>

  <form [formGroup]="fgPortfolio" (ngSubmit)="submitPortfolio()">
    <mat-card-content>
      <!-- TODO: display Error -->

      <mat-form-field appearance="outline">
        <mat-label> 名前 </mat-label>
        <input matInput required formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> カタカナ </mat-label>
        <input matInput formControlName="katakana" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> ジョブ </mat-label>
        <input matInput formControlName="job" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> 性別 </mat-label>
        <mat-select formControlName="sexe">
          <mat-option [value]="null">なし</mat-option>
          <mat-option value="0">女性</mat-option>
          <mat-option value="1">男性</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>生年月日</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> 現住所 </mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> 自己紹介 </mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button
        *ngIf="(params$ | async)?.type === 'edit'"
        mat-button
        type="button"
        (click)="openDeleteDialog()"
      >
        {{ (wording$ | async)?.delete }}
      </button>
      <button mat-button type="submit" [disabled]="fgPortfolio.invalid">
        {{ (wording$ | async)?.submit }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
