<mat-card color="primary">
  <mat-card-header>
    <mat-card-title>{{ (wording$ | async)?.title }}</mat-card-title>
  </mat-card-header>

  <form [formGroup]="fgPortfolio" (ngSubmit)="submitPortfolio()">
    <mat-card-content>
      <!-- TODO: display Error -->

      <mat-form-field appearance="outline">
        <mat-label> Name </mat-label>
        <input matInput required formControlName="name" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button
        *ngIf="(params$ | async)?.type === 'edit'"
        mat-button
        type="button"
        (click)="openDeleteDialog()"
      >
        {{ (wording$ | async)?.delete }}
      </button>
      <button mat-button type="submit" [disabled]="fgPortfolio.invalid">
        {{ (wording$ | async)?.submit }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
